<div class="container checkout-container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Hello {{ userName | uppercase }} <i class="fas fa-hand-paper"></i>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <hr />
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients; let i = index"
        >
          <div>
            <strong>{{ ingredient.name }}</strong> ({{ ingredient.amount }})
          </div>
        </a>
      </ul>

      <!-- Payment Options -->
      <div class="payment-options">
        <div class="payment-option">
          <input type="radio" id="visaRadio" name="paymentOption" checked />
          <label for="visaRadio"><i class="fab fa-cc-visa"></i> Visa</label>
        </div>
        <div class="payment-option">
          <input type="radio" id="mastercardRadio" name="paymentOption" />
          <label for="mastercardRadio"
            ><i class="fab fa-cc-mastercard"></i> MasterCard</label
          >
        </div>
        <div class="payment-option">
          <input type="radio" id="paypalRadio" name="paymentOption" />
          <label for="paypalRadio"
            ><i class="fab fa-cc-paypal"></i> PayPal</label
          >
        </div>
      </div>

      <!-- Payment Form -->
      <div class="payment-form">
        <h5>Payment Details</h5>
        <form>
          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input
              type="text"
              class="form-control"
              id="cardNumber"
              placeholder="1234 5678 9012 3456"
            />
          </div>
          <div class="form-group">
            <label for="expirationDate">Expiration Date</label>
            <input
              type="text"
              class="form-control"
              id="expirationDate"
              placeholder="MM/YY"
            />
          </div>
          <div class="form-group">
            <label for="cvv">CVV</label>
            <input
              type="text"
              class="form-control"
              id="cvv"
              placeholder="123"
            />
          </div>
        </form>
      </div>
      <div class="checkout-section mt-4">
        <h4>Total: {{ onCalculateTotal() }} ＄</h4>
        <button class="btn btn-primary">Pay now!</button>
      </div>
    </div>
  </div>
</div>
